<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.salesforce.mapper.SfDeploymentMapper">

    <resultMap type="com.ruoyi.salesforce.domain.SfDeployment" id="SfDeploymentResult">
        <result property="id" column="id"/>
        <result property="tenantId" column="tenant_id"/>
        <result property="title" column="title"/>
        <result property="sourceOrgId" column="source_org_id"/>
        <result property="targetOrgId" column="target_org_id"/>
        <result property="status" column="status"/>
        <result property="testLevel" column="test_level"/>
        <result property="specifiedTests" column="specified_tests"/>
        <result property="description" column="description"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="userId" column="user_id"/>
        <result property="deptId" column="dept_id"/>
    </resultMap>

    <select id="selectSfDeploymentList" parameterType="com.ruoyi.salesforce.domain.SfDeployment"
            resultMap="SfDeploymentResult">
        select d.id, d.tenant_id, d.title, d.source_org_id, d.target_org_id, d.status, d.create_time, d.create_by, d.user_id,
        d.dept_id
        from sf_deployment d
        <where>
            <if test="title != null  and title != ''">and d.title like concat('%', #{title}, '%')</if>

            <if test="status != null  and status != ''">and d.status = #{status}</if>

            <if test="createBy != null  and createBy != ''">and d.create_by like concat('%', #{createBy}, '%')</if>

            <if test="params.beginTime != null and params.beginTime != ''">
                and date_format(d.create_time,'%y%m%d') &gt;= date_format(#{params.beginTime},'%y%m%d')
            </if>
            <if test="params.endTime != null and params.endTime != ''">
                and date_format(d.create_time,'%y%m%d') &lt;= date_format(#{params.endTime},'%y%m%d')
            </if>
            and d.del_flag = '0'
        </where>
        order by d.create_time desc
    </select>

    <select id="selectSfDeploymentById" parameterType="Long" resultMap="SfDeploymentResult">
        select *
        from sf_deployment
        where id = #{id}
    </select>
</mapper>
