<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.salesforce.mapper.SfOrgMapper">

    <resultMap type="SfOrg" id="SfOrgResult">
        <result property="id" column="id"/>
        <result property="tenantId" column="tenant_id"/>
        <result property="name" column="name"/>
        <result property="orgType" column="org_type"/>
        <result property="orgId" column="org_id"/>
        <result property="username" column="username"/>
        <result property="instanceUrl" column="instance_url"/>
        <result property="accessToken" column="access_token"/>
        <result property="refreshToken" column="refresh_token"/>
        <result property="clientId" column="client_id"/>
        <result property="clientSecret" column="client_secret"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="customDomain" column="custom_domain"/>
    </resultMap>

    <sql id="selectSfOrgVo">
        select o.id,
               o.tenant_id,
               o.name,
               o.org_type,
               o.org_id,
               o.username,
               o.instance_url,
               o.access_token,
               o.refresh_token,
               o.client_id,
               o.client_secret,
               o.create_time,
               o.update_time,
               o.custom_domain,
               o.user_id,
               o.dept_id
        from sf_org o
    </sql>

    <select id="selectSfOrgList" parameterType="SfOrg" resultMap="SfOrgResult">
        <include refid="selectSfOrgVo"/>
        <where>
            <if test="name != null  and name != ''">and name like concat('%', #{name}, '%')</if>
            <if test="orgType != null  and orgType != ''">and org_type = #{orgType}</if>
            <if test="orgId != null  and orgId != ''">and org_id = #{orgId}</if>
            <if test="username != null  and username != ''">and username like concat('%', #{username}, '%')</if>
            <if test="instanceUrl != null  and instanceUrl != ''">and instance_url = #{instanceUrl}</if>
            <if test="accessToken != null  and accessToken != ''">and access_token = #{accessToken}</if>
            <if test="refreshToken != null  and refreshToken != ''">and refresh_token = #{refreshToken}</if>
            <if test="clientId != null  and clientId != ''">and client_id = #{clientId}</if>
            <if test="clientSecret != null  and clientSecret != ''">and client_secret = #{clientSecret}</if>
            <if test="customDomain != null  and customDomain != ''">and custom_domain = #{customDomain}</if>
        </where>
    </select>

    <select id="selectSfOrgById" parameterType="Long" resultMap="SfOrgResult">
        <include refid="selectSfOrgVo"/>
        where id = #{id}
    </select>

    <select id="selectSfOrgByOrgId" parameterType="String" resultMap="SfOrgResult">
        <include refid="selectSfOrgVo"/>
        where org_id = #{orgId}
    </select>

    <insert id="insertSfOrg" parameterType="SfOrg" useGeneratedKeys="true" keyProperty="id">
        insert into sf_org
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="tenantId != null">tenant_id,</if>
            <if test="name != null">name,</if>
            <if test="orgType != null">org_type,</if>
            <if test="orgId != null">org_id,</if>
            <if test="username != null">username,</if>
            <if test="instanceUrl != null">instance_url,</if>
            <if test="accessToken != null">access_token,</if>
            <if test="refreshToken != null">refresh_token,</if>
            <if test="clientId != null">client_id,</if>
            <if test="clientSecret != null">client_secret,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="customDomain != null">custom_domain,</if>
            <if test="userId != null">user_id,</if>
            <if test="deptId != null">dept_id,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="tenantId != null">#{tenantId},</if>
            <if test="name != null">#{name},</if>
            <if test="orgType != null">#{orgType},</if>
            <if test="orgId != null">#{orgId},</if>
            <if test="username != null">#{username},</if>
            <if test="instanceUrl != null">#{instanceUrl},</if>
            <if test="accessToken != null">#{accessToken},</if>
            <if test="refreshToken != null">#{refreshToken},</if>
            <if test="clientId != null">#{clientId},</if>
            <if test="clientSecret != null">#{clientSecret},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="customDomain != null">#{customDomain},</if>
            <if test="userId != null">#{userId},</if>
            <if test="deptId != null">#{deptId},</if>
        </trim>
    </insert>

    <update id="updateSfOrg" parameterType="SfOrg">
        update sf_org
        <trim prefix="SET" suffixOverrides=",">
            <if test="tenantId != null">tenant_id = #{tenantId},</if>
            <if test="name != null">name = #{name},</if>
            <if test="orgType != null">org_type = #{orgType},</if>
            <if test="orgId != null">org_id = #{orgId},</if>
            <if test="username != null">username = #{username},</if>
            <if test="instanceUrl != null">instance_url = #{instanceUrl},</if>
            <if test="accessToken != null">access_token = #{accessToken},</if>
            <if test="refreshToken != null">refresh_token = #{refreshToken},</if>
            <if test="clientId != null">client_id = #{clientId},</if>
            <if test="clientSecret != null">client_secret = #{clientSecret},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="customDomain != null">custom_domain = #{customDomain},</if>
            <if test="userId != null">user_id = #{userId},</if>
            <if test="deptId != null">dept_id = #{deptId},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteSfOrgById" parameterType="Long">
        delete
        from sf_org
        where id = #{id}
    </delete>

    <delete id="deleteSfOrgByIds" parameterType="String">
        delete from sf_org where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>
